<html>
<head>
    <meta charset="utf-8" /> 
    <title>登入成功</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='index.css') }}">
</head>
<body>

    <div class="top">
        <div class="toptxt">歡迎光臨，這是會員頁</div>
    </div>

    <center>
    <h3>{{value}}，成功登入系統</h3>
    <br/>
    <a href="/signout">登出系統</a>
    </center>
    <center>

            <!-- AJAX -->
            
            
            

                <h3> 查詢會員姓名 <br/></h3>
                
                <input type="text" id="myTxt">
                <!-- <button onclick="getData()">查詢</button> -->
                <button type="button" onclick="getTxt()">查詢</button>
                <!-- <span onclick="getData()">查詢</span> -->
                <p id="valueInput"></p>
                <div id="list"></div>

            <script type="text/javascript">

                const getTxt = () =>{
                    let inputValue = document.getElementById("myTxt").value;
                    // alert(inputValue);
                    // document.getElementById("valueInput").innerHTML = inputValue;
                    // alert(inputValue);
                    let src="http://127.0.0.1:3000/api/members?username="+inputValue;
                    // alert(src)
                    fetch(src).then(function(response){
                        return response.json();
                        console.log(response.json);
                    }).then(function(result){
                        console.log(result["data"].name)
                        
                        // 判斷如果抓到null顯示沒有此人
                    if (result["data"] == "null"){
                        list.innerHTML="無此人"
                    }
                    else{
                    list.innerHTML="";
                    list.innerHTML+=result["data"].name.bold();
                }
                    });
                };                               
            </script>        
    </center>
    

    

    
</body>

</html>
